//
// Woocommerce
// --------------------------------------------------

.woocommerce{

    // Modules
    @import "modules/grid.scss";
    @import "modules/forms.scss";
    @import "modules/buttons.scss";
    @import "modules/tables.scss";
    @import "modules/products.scss";
    @import "modules/tabs.scss";

    // Pages
    @import "pages/archive.scss";
    @import "pages/product.scss";

}

// Pages (outside scope)
@import "pages/cart.scss";
@import "pages/checkout.scss";
@import "pages/account.scss";

// General
.clear{ clear: both; }