//
// Product
// --------------------------------------------------

&.single-product{

    //

}

// Data
div.product{
    @include make-row();

    div.images,
    div.summary{
        @include make-md-column(6);
        margin-bottom: 25px;
    }

    div.images{
        img{
            display: block;
            width: 100%;
            height: auto;
            box-shadow: none;
        }
    }

    // Variations
    .variations{
        @extend .table;
        vertical-align: middle;

        td.label{
            @include border-radius(0);
            display: table-cell;
            font-size: 100%;
            color: inherit;
            text-align: left;
        }

        label{
            margin: 0;
        }

        .reset_variations{
            float: right;
        }
    }

    // Tabs
    .woocommerce-tabs{
        @include make-md-column(12);
        clear: both;
    }
}