//
// Forms
// --------------------------------------------------

form{
    .form-row{
        @extend .form-group;
        margin-bottom: 10px;

        label{
            display: block;
            margin-bottom: 5px;
            cursor: pointer;
        }

        textarea,
        input.input-text{
            @extend .form-control;
        }

        textarea{
            min-height: 150px;
        }

        input.input-checkbox{
            display: inline;
            margin-top: 2px;
            margin-right: 10px;
            vertical-align: middle;
        }

        label.checkbox{
            display: inline;
            vertical-align: middle;
            margin-top: 0;
        }

        .select2-container{
            line-height: 2em;
        }
    }

    .form-row-first,
    .form-row-last{
        width: 47%;
        overflow: visible;
    }

    .form-row-first{
        float: left;
    }

    .form-row-last{
        float: right;
    }

    .form-row-wide{
        clear: both;
    }
}